In [1]:
%load_ext autoreload
%load_ext lab_black
%autoreload 2

In [2]:
import pandas as pd
import sys

# sys.path.append("..")
from pandasxlframer.framer import *

In [3]:
df = pd.read_excel("../data/format_sample_data.xlsx")

In [4]:
df.to_excel("../data/output/sample_to_excel_output.xlsx", index=False)

In [5]:
df.head()

   频道     维度    全量  S+    S    A   B  C   无级别
0  动漫  CID总量   120  12    2    0  11  0   120
1  动漫  CID空值    60   1    1    1   0  0    14
2  少儿  CID总量  1100  90  320  237   8  0   200
3  少儿  CID空值    98   2    2    2   0  0    30
4  电影  CID总量  1000  20  200  200  20  0  1230

In [6]:
int_map = {"全量": "int", "S+": "int", "S": "int", "A": "int", "B": "int", "无级别": "int"}
path = "../data/output/test.xlsx"

(
    df.excel_format.add_header(title_text="兴趣点为空统计总览")
    .set_columns_format(int_map)
    .column_color("频道", green, skip_row=2)
    .merge_column_cell("频道")
    .row_color(2, orange, skip_col=1)
    .save(path)
)